<form method="POST" action="/contact">
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="Name" value="<%= qs.name %>"><br>
    <label for="dept">Department</label>
    <input type="text" name="dept" placeholder="Department" value="<%= qs.dept %>"><br>
    <label for="Email">Email</label>
    <input type="text" name="email" placeholder="Email"><br>
    <input type="submit" value="submit">   
</form>